/*
#edf3c5
#f2cc49
#b7be5f
#24b399
#2d1c28
*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 70px;
  background-color: #edf3c5 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
header {
  position: fixed; /* Fija el header en la parte superior de la página */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que el header esté por encima del contenido */
  background-color: #24b399 !important;
}

.btn-custom {
  background-color: #2d1c28;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.Texto {
  font-weight: bold;
  font-size: 16px;
}

.btn-custom:hover {
  background-color: #483946;
}


.bg-custom-color {
  background-color: #24b399 !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: #24b399 !important;
}


.flip-card {
  background-color: transparent;
  width: 200px;
  height: 400px;
  max-width: 800px;
  margin: auto; /* Esto centrará horizontalmente el elemento */
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -ms-transition: transform 0.8s;
  -o-transition: transform 0.8s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 235px;
  height: 340px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #24b399;
  color: rgb(0, 0, 0);
}

.flip-card-back {
  background-color: #24b399;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
  .flip-card {
    width: 80%; /* Reducir el ancho en pantallas pequeñas */
  }
}
